
@font-face {
    font-family: 'Oswald';
    src: url(../font/Oswald-Medium.ttf);
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #5aa5bb; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}



body{
    font-family: 'Oswald', sans-serif;

}

.wrap{
    margin-top: 50px;

}

.menu-usern1{
    box-shadow: 0 3px 3px -2px rgba(0,0,0,0.2), 0px 3px 4px 0 rgba(0,0,0,0.14), 0px 1px 8px 0 rgba(0,0,0,0.12);
}

.submenu-dekiru{
    float: left;
    margin-left: 10px;
    border: solid 1px #ececec;
    width: 100px;
    line-height: 40px;  
    vertical-align: middle;
    text-align: center;
    border-radius: 5px;
    background-color: #c9e1ff;
    color:#2424ff;
}

.submenu-dekiru:hover{
    color: white;
    background-color: green;
    cursor: pointer;
}

.card-header{
    background-color: #007bff;
    color: white;
    text-align: center;
}

.car-content-dekiru{
    border-bottom: solid 1px gray;
    line-height: 1.3cm;
}

.card-body{
    overflow-x: auto;
    height: 350px;
}

.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid darkgrey;
    border-radius: .25rem;

}

.void-text{
    width: 100%;
    height: 500px;
    border-radius: 20px;
    border: 2px solid #cccccc;
}


div.polaroid {
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

.new-title{
    margin-left: 18px;
    text-overflow: ellipsis;
    overflow: hidden; 
    width: 90%; 
    height: 1.9em; 
    white-space: nowrap;
    margin-top: 10px;
    font-size: 17px;
    color: #5214cc;
}

.new-title a{
    color: #5214cc;
}

.new-title a:hover{
    text-decoration: none;
}

.new-content{
    width: 90%;
    margin-left: 10px;
    text-align: left;
    padding: 10px;

    
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical; 
  
}

.clear{
    margin-top: 50px;
}

.clear-p2{
    margin-top: 20px;
}

.drag-drop {
    display: inline-block;
    margin-top: 10px;
    margin-right: 5px;
    padding: 0 5%;            
    border-radius: 4px;
    color: white;
    background-color: #5d5dbd;
    height: 20px;
    vertical-align: middle;
    font-size: 14px;
    max-width: 98%; 
  }

.drag-drop > p{
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;  
}  

.draggable-n-c{
    height: 500px;
    width: 100%;
    border: solid 1px #f3eeee;
    background-color: whitesmoke;
}  